
#klipse-color {
    width: 300px;
    height: 50px;
    background-color: red;
}
.centered {
    width: 50%;
    padding-left: 25%;
    text-align: center;

}
.text-centered {
    text-align: center;
}

.left {
    float: left;
}
.right {
    float: rigth;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}
.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}


.clear {
    clear: both;
}
.livedoc {
    border: none;
    width: 100%;
    height: 600px;
}
p,ul,ol {
    font-size: 1.7em;
}

