{asciidoctor-deck.js {product "asciidoctor-deck.js"
                      novelty (not (mach.core/file-exists? product))
                      update! #$ ["git clone https://github.com/asciidoctor/asciidoctor-deck.js"]}
 deck.js {product "deck.js"
          novelty (not (mach.core/file-exists? product))
          update! #$ ["git clone https://github.com/imakewebthings/deck.js"]}
 presentation.html #import [asciidoc/create {name "presentation"}]
 destructuring-multi-arity.html #import [asciidoc/create {name "destructuring-multi-arity"}]
 pattern-matching.html #import [asciidoc/create {name "pattern-matching"}]
 amobee-summary.html #import [asciidoc/create {name "amobee-summary"}]
 illiterate.html #import [asciidoc/create {name "illiterate"}]    
 polymorphism.html #import [asciidoc/create {name "polymorphism"}]}
