{asciidoctor-deck.js {product "asciidoctor-deck.js"
                      novelty (not (mach.core/file-exists? product))
                      update! #$ ["git clone https://github.com/asciidoctor/asciidoctor-deck.js"]}
 deck.js {product "deck.js"
          novelty (not (mach.core/file-exists? product))
          update! #$ ["git clone https://github.com/imakewebthings/deck.js"]}
 presentation.html {product "presentation.html"
                    depends [asciidoctor-deck.js deck.js]
                    novelty (mach.core/modified-since product "presentation.adoc")
                    update! #$ ["bundle install && bundle exec asciidoctor -T asciidoctor-deck.js/templates/haml presentation.adoc"]}
 destructuring-multi-arity.html {product "destructuring-multi-arity.html"
                    depends [asciidoctor-deck.js deck.js]
                    novelty (mach.core/modified-since product "destructuring-multi-arity.adoc")
                    update! #$ ["bundle install && bundle exec asciidoctor -T asciidoctor-deck.js/templates/haml destructuring-multi-arity.adoc"]}}
